* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Inter', -apple-system, sans-serif;
    background-color: #0a1214;
    color: #ffffff;
    overflow: hidden;

    background-color: darken($color: #090C10, $amount: 0.8)!important;
    // background-image: url(../media/bg.png)!important;
    background-repeat: no-repeat;
    background-size: contain;
    // background-attachment: fixed;
    background-attachment: none;

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    background: rgba(82, 254, 254, 0.3);
    border-radius: 3px;
}

.svelteui-InputWrapper-description {
    white-space: pre-line;
}

// ### FONTS
$prim-font: "Roboto", sans-serif;
$sec-font: "Roboto Condensed", sans-serif;

// ### BASE
html,
body {
    overflow-x: hidden;
}

// ### SCROLLBAR
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #999, #27292f);
}

// ### TEXT SELECTION
::selection {
    background: #ff8901 !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

::-moz-selection {
    background: #ff8901 !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

// ### HEADER
#header {
    height: 80px;
    background-color: #0c1013;
    box-shadow: 0 0 19px 2px rgba(0, 0, 0, 0.91);
    position: relative;
    z-index: 100;
    text-align: justify;
    display: flex;
    justify-content: space-between;

    .logo {

        & > a > img {
            width: 55px;
            display: inline-block;
            transition: 0.5s opacity ease-in;

            &:hover {
                opacity: 0.8;
            }
        }

        & > div {
            display: inline-block;
            vertical-align: top;
        }

        h1 {
            color: #ffffff;
            font-family: $sec-font;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1px;
            margin: 0;

            & > a {
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                text-decoration: none;

                &:hover {
                    color: #8ac832;
                }
            }
        }

        h2 {
            color: #888;
            font-family: $sec-font;
            font-size: 14px;
            font-weight: bold;
            margin-top: 2px;
            letter-spacing: -0.01px;
        }
    }

.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background: transparent;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.85rem;
    }

    .logo-image {
        width: 54px;
        height: 54px;
        border-radius: 12px;
        object-fit: cover;
    }

    .logo-text {
        display: flex;
        flex-direction: column;
    }

    .logo-title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: -1px;
        margin-top: 10px;
        display: block;

        & > #jarvis-logo {
            display: block;
            width: 100px;
            height: 20px;
            background: red;
            background: url(../media/jarvis.png);
            background-size: 80px;
            background-repeat: no-repeat;
            transition: all 0.3s ease;

            &:hover {
                background: url(../media/jarvis-hover.png);
                background-size: 80px;
                background-repeat: no-repeat;
                border: none!important;
                text-decoration: none;
            }
        }
    }

    .logo-version {
        font-size: 0.7rem;
        color: #aaa;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 1px;
        font-weight: 500;
        letter-spacing: 1px;

        .v-badge {
            color: #8AC832;
            opacity: 0.9;
            letter-spacing: 0;
            font-weight: 600;
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }

    .header-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.55rem 0.85rem;
        background: transparent;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        cursor: pointer;
        font-weight: 600; 
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        opacity: 0.85;

        &:hover {
            opacity: 1;
            background: rgba(35, 50, 55, 0.95);
            border-color: rgba(255, 255, 255, 0.12);
        }
    }

    .btn-icon {
        opacity: 0.75;
    }

    .btn-badge {
        padding: 0.25rem 0.3rem;
        border-radius: 2px;
        font-size: 0.7rem;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 0;
        text-shadow: 0px 0px 13.92px rgba(55, 55, 55, 0.54);

        &.purple {
            background-image: -moz-linear-gradient( -84deg, rgb(153,41,234) 0%, rgb(88,8,251) 100%);
            background-image: -webkit-linear-gradient( -84deg, rgb(153,41,234) 0%, rgb(88,8,251) 100%);
            background-image: -ms-linear-gradient( -84deg, rgb(153,41,234) 0%, rgb(88,8,251) 100%);
            box-shadow: 0px 12px 14.56px 1.44px rgba(55, 55, 55, 0.15);
        }

        &.blue {
            background: #3b82f6;
        }

        &.gray {
            background: #333;
        }
    }

    .beta-badge {
        color: #8AC832;
        opacity: 0.9;
        font-size: 13px;
    }

    .top-menu {
        vertical-align: top;
        margin-top: 18px;
        margin-left: 50px;

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                display: inline-block;
                position: relative;

                &:not(:first-child) {
                    margin-left: 20px;
                }

                & > a {
                    display: inline-block;
                    text-decoration: none;
                    color: #c6c6c6;
                    font-family: $sec-font;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: 0.2s color;
                    padding: 10px 0;

                    & > svg {
                        height: 20px;
                        width: 20px;
                        vertical-align: middle;
                        margin-bottom: 4px;
                        margin-right: 3px;
                        margin-left: 3px;
                    }

                    &:hover,
                    &.active {
                        color: #8ac832;

                        &:after {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }

                    &:after {
                        content: "";
                        display: block;
                        height: 3px;
                        border-radius: 10px;
                        transform: scaleX(0);
                        transition: 0.4s transform;
                        transform-origin: 100% 0;
                        background: #8ac832;
                        opacity: 0.9;
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        width: 100%;
                        z-index: 333;
                    }
                }
            }
        }
    }
}

.h-divider {
    position: relative;
    z-index: 1;
}

// ### SEARCH BAR
.search {
    display: block;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;

    & > .h-divider {
        margin: 10px 0!important;
        background-position: left!important;
    }

    & > #search-form {
        margin: 0;
        position: relative;
    }

    & > form {
        position: relative;

        & > input {
            width: 97%;
            height: 38px;
            margin: 0 auto;
            box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.6);
            border: 1px solid rgba(6, 6, 6, 0.99);
            outline: none;
            color: #d1d1d1;
            font-family: $sec-font;
            font-size: 17px;
            font-weight: 400;
            line-height: 70.58px;
            padding-left: 15px;
            padding-right: 45px;

            border-style: solid;
            border-width: 3px;
            border-color: rgba(6, 6, 6, 0.5);
            background-color: rgba(25, 26, 28, 0.7);
            opacity: 0.99;
            box-shadow: inset 0px 0px 18.8px 1.2px rgba(0, 0, 0, 0.6);

            &::placeholder {
                color: #676767;
                font-weight: 300;
                font-style: italic;
                font-family: "Roboto Condensed", "Trebuchet MS", Arial, Helvetica, sans-serif;
                opacity: 0.7;

                font-size: 16px;
                font-family: "Roboto Condensed";
                color: rgb(103, 103, 103);
                font-style: italic;
                line-height: 4.437;
                text-align: left;
            }

            &:focus + button + small {
                opacity: 0.3;
            }
        }

        & > button {
            position: absolute;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            right: 35px;
            top: 4px;
            width: 30px;
            height: 30px;
            opacity: 1;
            transition: 0.3s opacity;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 110%;
                height: 110%;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAYAAABvCO8sAAAC4ElEQVRIiaXWX4hXRRTA8c/etkwy+gNBEVRCmxFl1ouZGlEWFUQZPfVQRLAjKvSylEFBf16EiChJOxhLQY8RtA+lRZtpRv8ohUJQNMiHooKyojZNtoeZy95+/fZ3r+uBy5xz5pzznYGZc2dodHRUB1lVviUYwXkYwk84iK8wGRHb2goNtQDXYxRXdVkV9mFrRDx/osCl2IxrG75PsAv75Z1NyzsdwQosb8R+jXURsbML8AG82rDH8TI+77eyiAAppSVYg9SYXhsRW5rxVU/+Qw3Yd7ip+PrCesB7ImKNvNMDxb05pbR+NuBSvFL0L7EYH7SB+oA/Lrm7i2tTSmlVL3AYbxf9eyzDkROFNaBTWCmfYJhIKc1rAh/DuUW/HUfnCmtAp3FrMefjmRp4Kh4tE+PYO6DO6fKp7Ao9hJeKOZZSWlBhNc4ozidbaqyUr8W4/x+42aSuOYT7KtxZHF/gcEvyvDI+KF/yFW20iPgZk8W8o8KVxZjsn/IfOdbQL8OulNLTHfJ2lHFRhYuKcbB/bKs8kVLanVK6ZkBMfS8vqLCgGL/NEQjX48MB8/UVm1/hz2KceRLAfbh3wHxde2pYbmFnY+EcYVsiYm1LzKVl/KHCN8W4sUPxUxr6j7i7AwxuKOP+ykxLW4bzWxKnyziBRXirjZRSOstMx9lW4Q38XRyPt+R/hOtwF35tgzVqDhX99QpTeK441pWVzya/49OOICmlCzFWzE0RcaRuT0/hj6Jv71qwg7xbxuNKv66BR820uIuxE6edDCmltB1XFPOeiPiL/B+sZQcexgtyk96L+3X42/eAFuM1+YUHGyJiop4f7ol/Ef/Iv5TL8VlZQMiXexBoRH7hjTXcj0TEs8242V5tNxdo8wC9J5/Sfq+25bitEfut/Gp7p7dw7w5reV/e4Yay6oW4pXyD5DC2YmNEHOsXMBuwlo3lWy3v+mpcgnPku/WL3Br3yA+uNyPi+KCC/wJQGMGINsMjCwAAAABJRU5ErkJggg==");
                background-repeat: no-repeat;
                background-size: 75%;
                background-position: center center;
                transition: all 0.3s;
            }

            &:hover::before {
                cursor: pointer;
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAYAAABvCO8sAAABN2lDQ1BBZG9iZSBSR0IgKDE5OTgpAAAokZWPv0rDUBSHvxtFxaFWCOLgcCdRUGzVwYxJW4ogWKtDkq1JQ5ViEm6uf/oQjm4dXNx9AidHwUHxCXwDxamDQ4QMBYvf9J3fORzOAaNi152GUYbzWKt205Gu58vZF2aYAoBOmKV2q3UAECdxxBjf7wiA10277jTG+38yH6ZKAyNguxtlIYgK0L/SqQYxBMygn2oQD4CpTto1EE9AqZf7G1AKcv8ASsr1fBBfgNlzPR+MOcAMcl8BTB1da4Bakg7UWe9Uy6plWdLuJkEkjweZjs4zuR+HiUoT1dFRF8jvA2AxH2w3HblWtay99X/+PRHX82Vun0cIQCw9F1lBeKEuf1UYO5PrYsdwGQ7vYXpUZLs3cLcBC7dFtlqF8hY8Dn8AwMZP/fNTP8gAAAAJcEhZcwAACxMAAAsTAQCanBgAAAXRaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzE0MiA3OS4xNjA5MjQsIDIwMTcvMDcvMTMtMDE6MDY6MzkgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE4IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMjMtMDQtMjNUMDQ6MzE6NTgrMDU6MDAiIHhtcDpNb2RpZnlEYXRlPSIyMDIzLTA0LTIzVDA0OjM0OjI3KzA1OjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDIzLTA0LTIzVDA0OjM0OjI3KzA1OjAwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyIgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowZDA5NTdiMi0zYmM3LTcxNDItODcyNS01ODA3MjA2NTFlYTIiIHhtcE1NOkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDoxM2UwZWYxNi03OGM0LTE2NGMtODc1Mi0xYjY5OTQ1OTczMGMiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo5YjNkZTI4Yy1iOTBmLTNjNDUtYjAwNS1kNTExOTE3ZDhkNzIiPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjliM2RlMjhjLWI5MGYtM2M0NS1iMDA1LWQ1MTE5MTdkOGQ3MiIgc3RFdnQ6d2hlbj0iMjAyMy0wNC0yM1QwNDozMTo1OCswNTowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTggKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDowZDA5NTdiMi0zYmM3LTcxNDItODcyNS01ODA3MjA2NTFlYTIiIHN0RXZ0OndoZW49IjIwMjMtMDQtMjNUMDQ6MzQ6MjcrMDU6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE4IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4Wh528AAAC7UlEQVRIiaXWX4gXVRTA8c9v2jLJ6A8ERVAJbUakTr2YqRFl0QRRRk89FBGYqNDLUgY51PQiRERJWhhLQY8RtA+OFm2mGf2RGqEQDAvyoaigrKhNk+3h3mGnX7/9zbgeGO45585zvvfCvWdub/POpTrI6vilGMVF6OEnHMEXmCyyaldboV4LcCPWYnGXVeEQdhRZ9fypApdhG65v+D7GPhwWdjYt7HQUK7GiEfslNhRZtbcL8EG81rDH8TI+G7SyIqtAXqYp1uGRxvT6Iqu2N+OTvvyHG7DvcEv0DYT1gasiq9YJO/06urflZbpxNuAyvBr1z7EE77eBBoA/irn7o2trXqar+4Ej2Bn177Ecx04V1oBOYZVwgmEiL9N5TeATuDDqGY7PFdaATuP2aM7HMzXwTDweJ8ZxcEids4VT2RX6DV6K5lhepgsSrME50flUS41VwrUY9/8DN5vUNXu4P8Fd0XEAR1uS58XxIeGSr2yjFVn1MyajeWeCa6MxOTjlP3KioV+FfXmZFh3y9sRxUYLLonFkcGyrbM7LdH9eptcNianv5SUJFkTjtzkC4UZ8MGS+vmLzE/wZjXNPA3gI9w2Zr2tPjQgt7HwsnCNse5FV61tirozjDwm+isbNHYqf0dB/xD0dYHBTHA8nZlraclzckjgdxwkswtttpLxMzzPTcXYleBN/R8eTLfkf4gbcjV/bYI2avai/kWAKz0XHhrjy2eR3fNIRJC/TSzEWza1FVh2r29PT+CPqu7sW7CDvxPGk2K9r4HEzLe5y7MVZp0PKy3Q3ronmvUVW/UX4D9ayB4/iBaFJH8QDOvzt+0BL8LrwwoNNRVZN1PMjffEv4h/hl3I1Po0LeEW43MNAo8ILb6zhfqzIqmebcbO92m6N0OYBelc4pYNebStwRyP2W+HVVvYX7t9hLe8JO9wUV70Qt8VvmBzFDmwpsurEoIDZgLVsid8aYddLcQUuEO7WL0JrrIQH11tFVp0cVvBfVZDA+HDoxOQAAAAASUVORK5CYII=");
            }
        }

        & > small {
            position: absolute;
            font-family: $sec-font;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5em;
            top: 9px;
            right: 15px;
            background-color: #d1d1d1;
            color: #161B1F;
            padding: 0 7px;
            padding-top: 0;
            border-radius: 2px;
            opacity: 0;
            transition: opacity 0.3s;
            cursor: default;
            border: none;
            text-transform: uppercase;
        }
    }

    &.active {
        small {
            opacity: 0.3;
        }
    }
}

// ### MAIN

.search-section {
    padding: 0.5rem 1.5rem;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem;
}

.reactor-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.reactor-wrapper {
    transition: opacity 0.5s ease, filter 0.5s ease;
    
    &.dimmed {
        opacity: 0.15;
        filter: grayscale(0.5);
    }
}

.offline-badge {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -3rem;

    & > small {
        display: block;
        position: absolute;
        top: 27px;
        text-align: center;
        width: 100%;
        opacity: 0.7;
    }
}

.offline-icon {
    font-size: 1.3rem;
    color: #fbbf24;
}

.offline-text {
    color: #fbbf24;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    white-space: nowrap;
}

.start-button {
    background: transparent;
    border: 0 solid rgba(82, 254, 254, 0.4);
    color: #52fefe;
    padding: 0.75rem 2.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2rem;

    background: rgba(82, 254, 254, 0.1);
    border-color: rgba(82, 254, 254, 0.7);
    box-shadow: 0 0 20px rgba(82, 254, 254, 0.15);


    &:hover:not(:disabled) {
        background: rgba(82, 254, 254, 0.2);
        border-color: rgba(82, 254, 254, 0.9);
        box-shadow: 0 0 20px rgba(82, 254, 254, 0.25);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

// ### RESPONSIVE
@media (max-width: 1364px) {
    #content > .inner > section.materials > header > h1 {
        font-size: 26px;
    }

    #content > .inner > section.materials > article > .details > h1 {
        font-size: 25px;
    }

    #content > .inner > section.materials > article > .details > blockquote {
        font-size: 17px;
        line-height: 24px;
        -webkit-line-clamp: 4;
    }

    .btn {
        font-size: 16px !important;
    }

    #paginator > header > h1 {
        font-size: 30px !important;
    }

    #paginator > .paginator-wrapper > .paginator-box {
        transform: scale(1.5);
        margin-top: 15px;
    }

    #paginator > .paginator-wrapper > small:first-child,
    #paginator > .paginator-wrapper > small:last-child {
        display: none;
    }
}
